**

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!apps
!apps/**
!packages
!packages/**
!scripts
!scripts/**
!LICENSE
!NOTICE
!THIRD_PARTY_NOTICES.md
!THIRD_PARTY_LICENSES.txt
!docs
!docs/dependency-licenses.json

**/.env
**/.env.*
**/.next
**/node_modules
**/coverage
**/playwright-report
**/test-results
**/*.log
**/*.tsbuildinfo
